@tailwind base;
@tailwind components;
@tailwind utilities;


/* for chat  */
.contain{
  height: 530px;
  margin-top: 15px;
  background-color: rgb(214, 208, 208);
  width: 450px;
  position: relative;
  left: 450px;
  border-radius: 13px;

}

.eye{
  position: relative;
  left: 2px;
  text-align: center;
  justify-content: center;
}

.inp-des{
  width:105px ;
  padding: 4px;
  border-radius: 5px;
  background-color: rgb(201, 199, 191);
}

input::placeholder {
  font-size: 14px;
  padding: 5px;
  font-weight: 400;
  color: #4d3d3d; 
}

.img-user{
  border-radius: 100%;
  justify-content: center;
  text-align: center;
  padding: 5px;
}
.search-box{
  border-radius: 5px;
  background-color: rgb(192, 186, 186);
  padding: 2px 5px;
}
.search{
  margin-top: 10px;
}

.title-chats p{
  font-weight: bold;
  font-size: 26px;
  color: rgb(88, 82, 82);
  margin-top: -27px;
}

.tit-chat{
  margin-top: -31px;
  position: relative;
  left: 1140px;
}

.line{
  margin-top: 9px;
  border: 3px solid rgb(75, 75, 114);
}
.tit-right{
  width: 40px;
  height: 40px;
  background-color: #b8aeae;
  padding: 5px;
  border-radius: 5px;
}

.logout{
  font-size: 14px;
  color: #474646;
  background-color: #b8aeae;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
}
.profile-container{
  position: relative;
  left: 500px;
  top: 190px;
  width: 400px;
  height: 290px;
  background-color: #ada3a3;
  border-radius: 20px;
}
.pro-contain{
  justify-content: center;
  text-align: center;
}

.pro-contain h2{
  padding-top: 40px;
  color: rgb(54, 53, 50);
}
.pro-contain img{
  border-radius: 100%;
  margin-left: 140px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.pro-contain p{
  color: rgb(54, 53, 50);
  margin-left: 9px;
}

.chatcontainer{
  margin-top: 23px;
   border-radius: 10px;
  width:280px;
  height: 130px;
  background-color: aliceblue;
}
.chatlist{
 justify-content: center;
 align-items: center;

}

.chatlist h2{
  font-size:16px;
  margin-left:125px;
  position: relative;
  top: 24px;
  color: #474646;
  font-family: sans-serif;
}

.chatlist img{
  border-radius: 100%;
  margin-left: 15px;
  margin-bottom: 10px;
}

.chatlist p{
  font-size: 14px;
  position: relative;
  left: 90px;
  bottom: 24px;
}

.messenger-btn{
position: relative;
left: 390px;
}

.messenger-btn:hover{
  background-color: rgb(93, 93, 240);
}

/* to remove scroll bar in chat page */

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Scrollbar css for image and the content display*/
.user-image{
  border-radius: 100%;
  height: 35px;
  margin-left: 0px;
}
